* {
    margin: 0;
    padding: 0;
}

#box4,#boz17,#boz16,#boz15 {
    margin: auto;
}




#header {
    background: #000;
}



#box5,#box6,#box7,#box8,#box9,#box10,#box11,#box12,#box13,#box14{
    color: white;
    width: 100px;
}

#watch{
    margin: auto;
}
#watch1 {
    margin: auto;
    width: 1280px;
    /*width: 1200px;height: 500px;*/
}

#content {
    width: 1280px;
margin: auto;
}
.clear {
    clear: both;
}

#ipad,
#acc,
#air,
#tv {
    float: left;
    width: 320px;
    /*border: 2px dashed;*/
    /*height: 100px;*/
}



#long1,
#long2,
#long3,
#long4,
#long5,
#long6,
#long7 {
    width: 210px;
    font-weight: 700;
}
#font1,#font2,#font3 {
    font-size: 10px;
    margin: auto;
}

/*#box0 {*/
    /*width: px;*/
/*}*/










