* {
    margin: 0;
    padding: 0;
}

#container {
   width: 1024px;
    height: 591px;
    /*background: yellowgreen;*/
    margin: auto;
}

#header {
    width: 946px;
    height: 160px;
   background: white;
    margin: auto;
}
#header1 {
    width: 946px;
    height: 76px;
}
#header1 img {
    padding-top: 10px ;
}
#header11 {
    float: right;
    padding:22px 0 0 20px ;
}
#header2 {
    width: 946px;
    height: 40px;
    text-align: center;
}
#header3 {
    width: 946px;
    height: 40px;
    padding-left:20px ;
}
#footer {  }
#footer1 {  }
#footer2 {  }
#footer3 {  }