* {
    margin: 0;
    padding: 0;
    list-style: none;
}

#radioBox {
    width: 153px;
    height: 27px;
    margin: 20px auto;
    position: relative;
}

#radioBox input {
    position: absolute;
    opacity: 0;
}

#radioBox label {
    width: 77px;
    height: 27px;
    border-radius: 15px;
    display: block;
    background:url("../image/tutu2.png");
    -webkit-transition: all 1s;
}

#radioBox input:checked + label {
    background-position: -51px 0;
}

#radioBox1 {
    margin: 0 auto;

}